<h2 >hophopsssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</h2>

<mat-dialog-content>
  
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" formControlName="email">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe" formControlName="motDePasse">
        </div>
        <button type="submit" class="btn btn-primary">Se connecter</button><br>
        <a routerLink="/signUp">S'inscrire</a>
    </form>
 
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button">Close</button>
    <button class="mat-raised-button mat-primary">Save</button>
</mat-dialog-actions>

<style>
    body
    {
        width: 500px;
        height: 700px;
        box-shadow: 200px 200px 200px #000;
    }
</style>
