<div class="container parametre mat-elevation-z8">
    <h1 class="title">Mettre à jour votre profil</h1>
    <div class="row">
        <div class="col-md-6">
            <button mat-raised-button color="primary" (click)="openDialog()">Modifier votre mot de passe</button>
            <button mat-raised-button color="primary">Modifier votre secteur</button>
            <button mat-raised-button color="primary">Modifier votre biographie</button>
            <button mat-raised-button color="primary">Modifier ou ajouter vos projets</button>
        </div>
        <div class="col-md-6">
            <button mat-raised-button color="primary">modifier votre numéro de téléphone</button>
            <button mat-raised-button color="primary">modifier votre adresse</button>
            <button mat-raised-button color="primary">modifier votre photo de profile</button>
            <button mat-raised-button color="warn" id="suppr">Supprimer votre compte</button>
        </div>
    </div>
</div>
